
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#nav-bar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em 0px;
  height: 80px;
  box-sizing: border-box;
  width: 100%;
  margin:0;
}

img {
  height: 80px;
  width: 80px;
}

#nav-bar .logo {
  float: left;
  padding
}

header.tweets {
  opacity: .5;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  font-size: 200%;
  /*use this to center horizontally - see http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/
  /*but to do this you need inline block - full block vs element that is only the height of the text*/
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#nav-bar .button {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  text-align: center;
  color: #00a087;
  padding: 15px 15px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  }

#nav-bar .button:hover {
  font-weight: bold;
  color: black;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


